
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Playwrite+PE:wght@100..400&display=swap');

body{
    font-family: "Playwrite PE", cursive;
    color: rosybrown;
    text-align: center;
    background-color: white;
}
.nana{
    height: 10%;
    width: 10%;
}